.errMsg {
    color: red;
    font-size: 10px;
}

label {
    font-weight: bold;
    padding-top: 12px;
}

.btnPad {
    float: right;
    padding-bottom: 12px;
    padding-right: 12px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}