.test>td>a {
    display: block; !important;
    color: black; !important;
    text-decoration: none; !important;
}

#companyName {
    font-size: 12px;
    font-weight: bold;
}

.test2 {
    display: block;
}

.table>tbody>tr>td {
    border-top: none;
    vertical-align: middle;
    padding: 0px;
}

.table>tbody>tr {
    border-bottom: .5px solid;
}