.table>tbody>tr>td>a {
    display: block; !important;
    color: black; !important;
    text-decoration: none; !important;
}

.table>tbody>tr>td {
    border-top: none;
    vertical-align: middle;
    padding-left: 12px;
}

.table>tbody>tr { border-bottom: 1px solid lightgray; }