#companyName {
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 1px;
}

#adTitle {
    display: block;
    padding-top: 10px;
    padding-bottom: 1px;
}

.input-group {
    float: right;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    align-self: center;
}

#noResults {
    padding-top: 18px;
    padding-left: 12px;
    vertical-align: middle;
}

#tableInfo {
    padding: 12px;
    color: gray;
    text-align: center;
}

#postButton {
    float: left;
    padding: 12px;
    display: inline-block;
    align-self: center;
}
