<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="/navigation :: navbar"></div>

<form th:action="@{/admin/userAdding}" method="post">
    E-mail: <input type="email" name="email" th:value="${email}"><br>
    <div th:if="${emailError}">
        E-mail must not be empty.
    </div>
    Password: <input type="password" name="password" th:value="${password}"><br>
    <div th:if="${passwordError}">
        Password must not be empty.
    </div>
    Password Confirmation: <input type="password" name="passwordConfirmation" th:value="${passwordConfirmation}"><br>
    <div th:if="${passwordConfirmationError}">
        Password Confirmation must not be empty.
    </div>
    <div th:if="${passwordMismatch}">
        Passwords must match.
    </div>
    Company Name: <input type="text" name="userCompanyName" th:value="${userCompanyName}"><br>
    <div th:if="${userCompanyNameError}">
        Company Name must not be empty.
    </div>
    <input type="submit" value="Submit">
</form>
</body>