<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Main Page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/panelBorder.css}"/>

    <script type="text/javascript" th:src="@{/js/uploadCheck.js}"></script>

    <style>
        [hidden] { display: none !important; }

        #cvErrorStyle {
            padding-top: 7px;
            padding-bottom: 12px;
        }

        h3 {
            padding-left: 25px;
            padding-right: 25px;
        }
    </style>

</head>

<body>

    <div th:insert="/navigation :: navbar"></div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 th:text="${'Applying for &quot;' + advert.getTitle() +
                               '&quot; by ' + advert.getUser().getCompanyName()}"></h3>

                <form th:action="@{/view/sendingApplication}" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="id" th:value="${advert.getId()}">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-group">
                                <label for="firstname">First Name</label>
                                <input type="text" name="firstname" id="firstname" class="form-control"
                                       th:value="${firstname}"/>

                                <div class="errMsg" th:if="${firstNameError}">Field must not be empty</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="md-form form-group">
                                <label for="lastname">Last Name</label>
                                <input type="text" name="lastname" id="lastname" class="form-control"
                                       th:value="${lastname}"/>

                                <div class="errMsg" th:if="${lastNameError}">Field must not be empty</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-group">
                                <label for="phone">Phone Number</label>
                                <input type="number" name="phone" id="phone" class="form-control"
                                       th:value="${phone}">

                                <div class="errMsg" th:if="${phoneError}">Field must not be empty</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="md-form form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control"
                                       th:value="${email}">

                                <div class="errMsg" th:if="${emailError}">Field must not be empty</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-2"><label class="btn btn-default" id="uploadCV">
                            Upload CV <input type="file" name="cv" th:value="${cv}" hidden>
                        </label></div>

                        <div class="col-md-10" id="cvErrorStyle" th:text="${cvError} ?
                             ' File uploaded must be a PDF' : ' Please upload a PDF of your CV'">
                        </div>
                    </div>

                    <div class="btnPad">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>

                    <div class="btnPad">
                        <button type="button" class="btn btn-default"
                                th:onclick="'window.location.href=\'' + @{/} + '\''">Cancel</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</body>
</html>