<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Main Page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/panelBorder.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/grayFields.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/applyCSS.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainPage.css}"/>

    <script type="text/javascript" th:src="@{/js/uploadCheck.js}"></script>

</head>

<body>

    <div th:insert="/navigation :: navbar"></div>

    <h1>Apply</h1>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row-fluid">
                    <div class="col">
                        <h3 style="color: dimgray; text-align: center"
                            th:text="${'Applying for &quot;' + advert.getTitle() +
                                       '&quot; by ' + advert.getUser().getCompanyName()}"></h3>
                    </div>
                </div>

                <form th:action="@{/view/sendingApplication}" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="id" th:value="${advert.getId()}">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-group">
                                <label for="firstname">First Name</label>
                                <input type="text" name="firstname" id="firstname" class="form-control"
                                       th:value="${firstname}"/>

                                <div class="errMsg" th:if="${firstNameError}">Field must not be empty<br></div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="md-form form-group">
                                <label for="lastname">Last Name</label>
                                <input type="text" name="lastname" id="lastname" class="form-control"
                                       th:value="${lastname}"/>

                                <div class="errMsg" th:if="${lastNameError}">Field must not be empty</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control"
                                       th:value="${email}">

                                <div class="errMsg" th:if="${emailError}">Field must not be empty</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="md-form form-group">
                                <label for="phone">Phone Number</label>
                                <input type="number" name="phone" id="phone" class="form-control"
                                       th:value="${phone}">
                                <div class="errMsg" th:if="${phoneError}">Field must not be empty</div>
                            </div>
                        </div>
                    </div>

                    <!-- EMPTY ROW TO DEAL WITH "UPLOAD CV BUTTON" MOVING WHEN ERRORS ARE DISPLAYED -->
                    <div class="form-row"><div class="col-md-12"></div></div>

                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <input type="file" name="cv" id="cv" th:value="${cv}" hidden>
                            <label class="btn btn-default" id="uploadCV">Upload CV</label>
                        </div>

                        <div class="form-group col-md-10" id="cvErrorStyle">
                            Please upload a PDF of your CV
                            <div class="errMsg" th:if="${cvError}">File uploaded must be a PDF</div>
                        </div>
                    </div>

                    <div class="btnPad">
                        <button type="submit" id="sub" class="btn btn-default">Submit</button>
                    </div>

                    <div class="btnPad">
                        <button type="button" class="btn btn-default"
                                th:onclick="'window.location.href=\'' + @{/} + '\''">Cancel</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</body>
</html>