<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Applicant Form</h1>
<hr/>
<h3 th:text="'Applying for ' + ${advert.getTitle()} + ' by: ' + ${advert.getUser().getCompanyName()}"></h3>
<h4>Fill in the required information:</h4>
<form th:action="@{/view/sendingApplication}" enctype="multipart/form-data" method="post">
    <input type="hidden" name="id" th:value="${advert.getId()}">
    First Name: <input type="text" name="firstname" th:value="${firstname}"/><br>
    <div th:if="${firstNameError}">
        First Name must not be empty.
    </div>
    Last Name: <input type="text" name="lastname" th:value="${lastname}"/><br>
    <div th:if="${lastNameError}">
        Last Name must not be empty.
    </div>
    Phone Number: <input type="number" name="phone" th:value="${phone}"/><br>
    <div th:if="${phoneError}">
        Phone Number must not be empty.
    </div>
    E-mail: <input type="email" name="email" th:value="${email}"/><br>
    <div th:if="${emailError}">
        E-mail must not be empty.
    </div>
    CV: <input type="file" name="cv" th:value="${cv}"/> <br/>
    <div th:text="${cvError} ? 'File uploaded must be a PDF.' : 'Please upload a PDF of your CV.'">
    </div>
    <button type="submit">Submit</button>
</form>
<hr/>
</body>
</html>