<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/panelBorder.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/grayFields.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainPage.css}"/>

</head>

<body>

    <div th:insert="/navigation :: navbar"></div>

    <h1>Change Password</h1>

    <div class="container" style="width: 300px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <form th:action="@{/login}" method="post">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="md-form form-group">
                                <label for="currentPass">Current Password</label>
                                <input type="text" id="currentPass" name="currentPass" class="form-control"
                                       />
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="md-form form-group">
                                <label for="newPass">New Password</label>
                                <input type="password" name="newPass" id="newPass" class="form-control"
                                       >

                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="md-form form-group">
                                <label for="confirmPass">Confirm Password</label>
                                <input type="password" name="confirmPass" id="confirmPass" class="form-control"
                                >

                            </div>
                        </div>
                    </div>

                    <div class="btnPad">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>

                    <!--<div class="btnPad">
                        <button type="button" class="btn btn-default"
                                th:onclick="'window.location.href=\'' + @{/} + '\''">Cancel</button>
                    </div>-->

                    <div class="btnPad">
                        <button type="button" class="btn btn-default"
                                th:onclick="'window.history.back(-1);return false;'">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>