<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Us</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="/navigation :: navbar"></div>

<form th:action="@{/contactUs/contactingUs}" method="post">
    E-mail: <input type="email" name="email" th:value="${email}"/><br>
    <div th:if="${emailError}">
        E-mail must not be empty.
    </div>
    Phone Number: <input type="number" name="phone" th:value="${phone}"/><br>
    <div th:if="${phoneError}">
        Phone Number must not be empty.
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>