<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <title>Post an Advert</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- CUSTOM CONFIRM BUTTONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/panelBorder.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/grayFields.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainPage.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/searchDisabler.css}"/>

    <script type="text/javascript" th:src="@{/js/popups.js}"></script>
</head>
<body>

    <div th:insert="/navigation :: navbar"></div>

    <h1>Create Advert</h1>

    <div class="container">
        <div class="panel panel-default">
        <div class="panel-body">

            <form th:action="@{/user/addingAdvert}" method="post">
                <div class="form-row">
                    <div class="col-md-10">
                        <div class="md-form form-group">
                            <label for="title">Job Title*</label>
                            <input type="text" name="title" id="title" class="form-control"
                                   th:value="${title}">

                            <div class="errMsg" th:if="${titleError}">Field must not be empty</div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="md-form form-group">
                            <label for="title">Status</label>
                            <select title="Status will be set by clicking the &quot;Save&quot; or &quot;Post&quot;"
                                    disabled name="status" class="form-control">
                                <option selected>None</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12">
                        <div class="md-form form-group">
                            <label for="body">Job Description*</label>
                            <textarea class="form-control" name="body" id="body" rows="5"
                                      style="resize: none" th:text="${body}">
                            </textarea>

                            <div class="errMsg" th:if="${bodyError}">Field must not be empty</div>
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="col-md-6">
                        <div class="md-form form-group">
                            <label for="industry">Industry</label>
                            <input class="form-control" type="text" name="industry" id="industry" th:value="${industry}">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="md-form form-group">
                            <label for="salary">Salary</label>
                            <input class="form-control" type="number" name="salary" id="salary" th:value="${salary}">

                            <div th:if="${salaryError}">Salary must be a number.</div>
                        </div>
                    </div>
                </div>

                <div class="btnPad">
                    <button title="Post your advert on the main page"
                            type="submit" name="action" value="Post"
                            class="btn btn-default">Post</button>
                </div>

                <div class="btnPad">
                    <button title="Save your advert to post it later"
                            type="submit" name="action" value="Save"
                            class="btn btn-default">Save</button>
                </div>

                <div class="btnPad">
                    <button type="button" class="btn btn-default"
                            th:onclick="'window.location.href=\'' + @{/user/myAdverts} + '\''">
                            Cancel</button>
                </div>
            </form>

        </div>
        </div>
    </div>

</body>
</html>