<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>

</head>
<body>
<h1> <a th:href="@{/}">Home</a> </h1>
                <p></p>
                <form th:action="@{/login}" method="post">
                        <input type="text" placeholder="Email" name="email" th:value="${email}? ${email}"/>
                        <input type="password" placeholder="Password" name="password"/>
                    <button type="submit" >Enter</button>
                </form>
                <div th:if="${param.error}">
		            Invalid email or password.
		        </div>
		        <div th:if="${param.logout}">
		            You have been logged out.
                </div>
</body>
</html>