<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Main Page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/mainTable.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainPage.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/panelBorder.css}"/>

    <script type="text/javascript" th:src="@{/js/searching.js}"></script>

</head>

<body>

    <div th:insert="/navigation :: navbar"></div>

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="input-group">
                <input type="text" id="search" placeholder="Search" class="form-control">
            </div>
            <p hidden id="noResults">No results</p>
            <table class="table table-condensed">
                <thead></thead>
                <tbody th:each="advert : ${advertArray}">
                    <tr th:if="${advertArray.isEmpty()}">
                        <td colspan="2">No adverts to display</td>
                    </tr>

                    <tr th:onclick="'window.location.href=\'' + @{'/view/' + ${advert.getId()}} + '\''">
                        <td id="adTitle" th:text="${advert.getTitle()}"></td>

                        <td id="companyName" th:text="${advert.getUser().getCompanyName()}"></td>

                        <td th:text="${!advert.getIndustry().isEmpty()} ?
                                ${advert.getIndustry()} : 'No Industry'"></td>

                        <td th:text="${advert.getDaysPosted() != 0} ?
                                ${advert.getDaysPosted()} + ' days ago' : 'Today'"></td>
                    </tr>
                </tbody>
            </table>

            <div id="tableInfo"><i>Click on a row to view an advert!</i></div>
        </div>
    </div>

</body>

</html>