<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>My Adverts</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- CUSTOM CONFIRM BUTTONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/mainTable.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainPage.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/panelBorder.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/grayFields.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/popupsDIY.css}"/>

    <style> @media (min-width: 584px) { .container { width: 584px; } } </style>
    <script>
        $(document).ready(function() {
            $('.btn').click(function(e) {
                e.stopPropagation();
            });
        });
    </script>

    <script type="text/javascript" th:src="@{/js/searching.js}"></script>
    <script type="text/javascript" th:src="@{/js/popups.js}"></script>
    <script type="text/javascript" th:src="@{/js/popupsDIY.js}"></script>

</head>

<body>

    <div th:insert="/navigation :: navbar"></div>

    <h1>My Adverts</h1>

    <!-- DIY ALERT SECTION-->
    <div class="notifierBox" style="background-color: #f44336">
        <div class="notifier"></div>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>

    <div th:switch="${notificationMessage}">
        <div th:case="null"></div>

        <script th:case="${advertPosted}">adPosted();</script>

        <script th:case="${advertDrafted}">adDrafted();</script>

        <script th:case="${advertEdited}">adEdited();</script>

        <script th:case="${advertDeleted}">
            $(document).ready(custAlert("Advert deleted"));
        </script>

        <script th:case="${advertProblem}">adProblem();</script>
    </div>
    <!-- DIY ALERT SECTION -->

    <div class="container">
        <div class="panel panel-default">

            <div class="row-fluid">
                <div class="col-sm">
                    <div id="postButton">
                        <button type="button" class="btn btn-default"
                                th:onclick="'window.location.href=\'' + @{/user/createAdvert} + '\''">
                            Create Post</button>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="input-group" style="width: 140px">
                        <input type="text" id="search" placeholder="Search" class="form-control">
                    </div>
                </div>

                <div class="w-100"></div>
                <div class="col-sm" style="float: left">
                    <p id="tableInfo">Click on a row to view an advert!</p>
                </div>
            </div>

            <table class="table table-condensed">
                <!-- display visible ads -->
                <thead>
                <tr>
                    <th colspan="1">Visible</th>
                    <th colspan="3">Days Posted</th>
                </tr>
                </thead>

                <tbody>
                    <div th:if="${advertArrayVisible.isEmpty()}">
                        <tr>
                            <td colspan="4">No adverts to display</td>
                        </tr>
                    </div>

                    <div th:unless="${advertArrayVisible.isEmpty()}" th:each="adVis : ${advertArrayVisible}">
                        <tr th:onclick="'window.location.href=\'' +
                                          @{'/view/' + ${adVis.getId()}} + '?myAdverts=true\''">
                            <td class="line1" th:text="${adVis.getTitle()}"></td>

                            <td class="line2" th:text="${adVis.getIndustry()}"></td>

                            <td class="alignment" th:text="${adVis.getDaysPosted() != 0} ?
                                             ${adVis.getDaysPosted()} + ' days ago' : 'Today'"></td>

                            <form th:action="@{/user/editAdvert}" method="post">
                                <button hidden type="submit" name="action" value="Update"
                                        th:id="'updat' + ${adVis.getId()}"></button>
                                <button hidden type="submit" name="action" value="Delete"
                                        th:id="'delet' + ${adVis.getId()}"></button>

                                <input type="hidden" name="id" th:value="${adVis.getId()}">
                                <input type="hidden" name="userId" th:value="${adVis.getUser().getId()}">
                            </form>

                            <td>
                                <div class="btn-group" role="group" aria-label="myAdsBtn"
                                     style="float: right; padding-right: 12px">
                                    <button class="btn btn-default"
                                            th:onclick="'updat(' + ${adVis.getId()} + ')'">Edit</button>
                                    <button class="btn btn-default"
                                            th:onclick="'delet(' + ${adVis.getId()} + ')'">Delete</button>
                                </div>
                            </td>
                        </tr>

                    </div>
                </tbody>

                <!-- display invisible ads -->
                <thead>
                <tr>
                    <th colspan="1">Invisible</th>
                    <th colspan="3">Days Posted</th>
                </tr>
                </thead>

                <tbody>

                    <div th:if="${advertArrayInvisible.isEmpty()}">
                        <tr>
                            <td colspan="4">No adverts to display</td>
                        </tr>
                    </div>

                    <div th:unless="${advertArrayInvisible.isEmpty()}" th:each="adInvis : ${advertArrayInvisible}">
                        <tr name="action" th:onclick="'window.location.href=\'' +
                                          @{'/view/' + ${adInvis.getId()}} + '?myAdverts=true\''">
                            <td class="line1" th:text="${adInvis.getTitle()}"></td>

                            <td class="line2" th:text="${adInvis.getIndustry()}"></td>

                            <td class="alignment" th:text="'Paused'"></td>

                            <form th:action="@{/user/editAdvert}" method="post">
                                <button hidden type="submit" name="action" value="Update"
                                        th:id="'updat' + ${adInvis.getId()}"></button>
                                <button hidden type="submit" name="action" value="Delete"
                                        th:id="'delet' + ${adInvis.getId()}"></button>

                                <input type="hidden" name="id" th:value="${adInvis.getId()}">
                                <input type="hidden" name="userId" th:value="${adInvis.getUser().getId()}">
                            </form>

                            <td>
                                <div class="btn-group" role="group" aria-label="myAdsBtn"
                                     style="float: right; padding-right: 12px">
                                    <button class="btn btn-default"
                                            th:onclick="'updat(' + ${adInvis.getId()} + ')'">Edit</button>
                                    <button class="btn btn-default"
                                            th:onclick="'delet(' + ${adInvis.getId()} + ')'">Delete</button>
                                </div>
                            </td>
                        </tr>
                    </div>
                </tbody>

                <!-- display draft ads -->
                <thead>
                    <tr>
                        <th colspan="1">Draft</th>
                        <th colspan="3">Days Posted</th>
                    </tr>
                </thead>

                <tbody>
                    <div th:if="${advertArrayDraft.isEmpty()}">
                        <tr>
                            <td colspan="4">No adverts to display</td>
                        </tr>
                    </div>

                    <div th:unless="${advertArrayDraft.isEmpty()}" th:each="adDraft : ${advertArrayDraft}">
                        <tr name="action" th:onclick="'window.location.href=\'' +
                                          @{'/view/' + ${adDraft.getId()}} + '?myAdverts=true\''">
                            <td class="line1" th:text="${adDraft.getTitle()}"></td>

                            <td class="line2" th:text="${adDraft.getIndustry()}"></td>

                            <td class="alignment" th:text="'-'"></td>

                            <form th:action="@{/user/editAdvert}" method="post">
                                <button hidden type="submit" name="action" value="Update"
                                        th:id="'updat' + ${adDraft.getId()}"></button>
                                <button hidden type="submit" name="action" value="Delete"
                                        th:id="'delet' + ${adDraft.getId()}"></button>

                                <input type="hidden" name="id" th:value="${adDraft.getId()}">
                                <input type="hidden" name="userId" th:value="${adDraft.getUser().getId()}">
                            </form>

                            <td>
                                <div class="btn-group" role="group" aria-label="myAdsBtn"
                                     style="float: right; padding-right: 12px">
                                    <button class="btn btn-default"
                                            th:onclick="'updat(' + ${adDraft.getId()} + ')'">Edit</button>
                                    <button class="btn btn-default"
                                            th:onclick="'delet(' + ${adDraft.getId()} + ')'">Delete</button>
                                </div>
                            </td>
                        </tr>
                    </div>
                </tbody>

                <!-- display expired ads -->
                <thead>
                <tr>
                    <th colspan="1">Expired</th>
                    <th colspan="3">Days Posted</th>
                </tr>
                </thead>

                <tbody>
                    <div th:if="${advertArrayExpired.isEmpty()}">
                        <tr>
                            <td colspan="4">No adverts to display</td>
                        </tr>
                    </div>

                    <div th:unless="${advertArrayExpired.isEmpty()}" th:each="adExp : ${advertArrayExpired}">
                        <tr name="action" th:onclick="'window.location.href=\'' +
                                          @{'/view/' + ${adExp.getId()}} + '?myAdverts=true\''">
                            <td class="line1" th:text="${adExp.getTitle()}"></td>

                            <td class="line2" th:text="${adExp.getIndustry()}"></td>

                            <td class="alignment" th:text="${adExp.getDaysPosted()} + ' days'"></td>

                            <form th:action="@{/user/editAdvert}" method="post">
                                <button hidden type="submit" name="action" value="Delete"
                                        th:id="'delet' + ${adExp.getId()}"></button>

                                <input type="hidden" name="id" th:value="${adExp.getId()}">
                                <input type="hidden" name="userId" th:value="${adExp.getUser().getId()}">
                            </form>

                            <td>
                                <div style="float: right; padding-right: 12px">
                                    <button class="btn btn-default"
                                            th:onclick="'delet(' + ${adExp.getId()} + ')'">Delete</button>
                                </div>
                            </td>
                        </tr>
                    </div>
                </tbody>
            </table>

        </div>
    </div>

</body>
</html>