<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>My Adverts</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/mainTable.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainPage.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/panelBorder.css}"/>

    <script type="text/javascript" th:src="@{/js/searching.js}"></script>

</head>

<body>

    <div th:insert="/navigation :: navbar"></div>

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="row-fluid">
                <div class="col-sm">
                    <div id="postButton">
                        <button type="button" class="btn btn-default"
                                th:onclick="'window.location.href=\'' + @{/user/createAdvert} + '\''">
                            Create Post</button>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="input-group" style="width: 140px">
                        <input type="text" id="search" placeholder="Search" class="form-control">
                    </div>
                </div>

                <div class="w-100"></div>
                <div class="col-sm" style="float: left">
                    <p id="tableInfo">Click on a row to view an advert!</p>
                </div>
            </div>

            <table class="table table-condensed">
                <div th:each="advert : ${advertArray}">
                    <form th:action="@{/user/editAdvert}" method="post">

                        <div th:if="${advertArray.isEmpty()}">
                            <thead></thead>
                            <tbody>
                            <tr>
                                <td>No adverts to display</td>
                            </tr>
                            </tbody>
                        </div>

                        <div th:switch="${advert.getStatus()}">
                            <div th:case="'Visible'">
                                <thead><tr><th>Visible</th></tr></thead>


                                <tbody>
                                <tr name="action" th:onclick="'window.location.href=\'' +
                                            @{'/view/' + ${advert.getId()}} + '?myAdverts=true\''">
                                    <td th:text="${advert.getTitle()}"></td>

                                    <td th:text="${!advert.getIndustry().isEmpty()} ?
                                                ${advert.getIndustry()} : 'No Industry'"></td>

                                    <td th:text="${advert.getDaysPosted() != 0} ?
                                                ${advert.getDaysPosted()} + ' days ago' : 'Today'"></td>

                                    <td><div style="float: right">
                                        <div class="btn-group" role="group" aria-label="myAdsBtn">
                                            <button type="submit" name="action" value="Update"
                                                    class="btn btn-default">Edit</button>
                                            <button type="submit" name="action" value="Delete"
                                                    class="btn btn-default">Delete</button>
                                        </div>
                                    </div></td>
                                </tr>
                                </tbody>


                            </div>

                            <div th:case="'Invisible'">
                                <thead><tr><th>Invisible</th></tr></thead>
                                <tbody>
                                <tr name="action" th:onclick="'window.location.href=\'' +
                                            @{'/view/' + ${advert.getId()}} + '?myAdverts=true\''">
                                    <td th:text="${advert.getTitle()}"></td>

                                    <td th:text="${!advert.getIndustry().isEmpty()} ?
                                                ${advert.getIndustry()} : 'No Industry'"></td>

                                    <td th:text="${advert.getDaysPosted() != 0} ?
                                                ${advert.getDaysPosted()} + ' days ago' : 'Today'"></td>

                                    <td><div style="float: right">
                                        <div class="btn-group" role="group" aria-label="myAdsBtn">
                                            <button type="submit" name="action" value="Update"
                                                    class="btn btn-default">Edit</button>
                                            <button type="submit" name="action" value="Delete"
                                                    class="btn btn-default">Delete</button>
                                        </div>
                                    </div></td>
                                </tr>
                                </tbody>
                            </div>

                            <div th:case="'Draft'">
                                <thead><tr><th>Draft</th></tr></thead>
                                <tbody>
                                <tr name="action" th:onclick="'window.location.href=\'' +
                                            @{'/view/' + ${advert.getId()}} + '?myAdverts=true\''">
                                    <td th:text="${advert.getTitle()}"></td>

                                    <td th:text="${!advert.getIndustry().isEmpty()} ?
                                                ${advert.getIndustry()} : 'No Industry'"></td>

                                    <td th:text="${advert.getDaysPosted() != 0} ?
                                                ${advert.getDaysPosted()} + ' days ago' : 'Today'"></td>

                                    <td><div style="float: right">
                                        <div class="btn-group" role="group" aria-label="myAdsBtn">
                                            <button type="submit" name="action" value="Update"
                                                    class="btn btn-default">Edit</button>
                                            <button type="submit" name="action" value="Delete"
                                                    class="btn btn-default">Delete</button>
                                        </div>
                                    </div></td>
                                </tr>
                                </tbody>
                            </div>

                            <div th:case="'Expired'">
                                <thead><tr><th>Expired</th></tr></thead>
                                <tbody>
                                <tr name="action" th:onclick="'window.location.href=\'' +
                                        @{'/view/' + ${advert.getId()}} + '?myAdverts=true\''">
                                    <td id="adTitle" th:text="${advert.getTitle()}"></td>

                                    <td id="companyName" th:text="${!advert.getIndustry().isEmpty()} ?
                                                ${advert.getIndustry()} : 'No Industry'"></td>

                                    <td th:text="${advert.getDaysPosted() != 0} ?
                                                ${advert.getDaysPosted()} + ' days ago' : 'Today'"></td>

                                    <td><div style="float: right">
                                        <button type="submit" name="action" value="Delete"
                                                class="btn btn-default">Delete</button>
                                    </div></td>
                                </tr>
                                </tbody>
                            </div>

                        </div>

                    </form>
                </div>
            </table>

            <!--<table class="table table-condensed">
                <thead></thead>

                <tbody>
                <div th:each="advert : ${advertArray}">
                    <div th:if="${advertArray.isEmpty()}">
                        <tr>
                            <td>No adverts to display</td>
                        </tr>
                    </div>

                    <form th:action="@{/user/editAdvert}" method="post">
                        <div th:switch="${advert.getStatus()}">
                        <div th:case="'Visible'">
                            <tr name="action" th:onclick="'window.location.href=\'' +
                                                @{'/view/' + ${advert.getId()}} + '?myAdverts=true\''">
                                <td id="adTitle" th:text="${advert.getTitle()}"></td>

                                <td id="companyName" th:text="${!advert.getIndustry().isEmpty()} ?
                                    ${advert.getIndustry()} : 'No Industry'"></td>

                                <td th:text="${advert.getDaysPosted() != 0} ?
                                    ${advert.getDaysPosted()} + ' days ago' : 'Today'"></td>

                                <td><div style="float: right">
                                    <div class="btn-group" role="group" aria-label="myAdsBtn">
                                        <button type="submit" name="action" value="Update"
                                                class="btn btn-default">Edit</button>
                                        <button type="submit" name="action" value="Delete"
                                                class="btn btn-default">Delete</button>
                                    </div>
                                </div></td>
                            </tr>
                        </div>
                        </div>

                        <input type="hidden" name="id" th:value="${advert.getId()}">
                        <input type="hidden" name="userId" th:value="${advert.getUser().getId()}">
                    </form>
                </div>

                <tr style="border-bottom: none; padding: 12px"><td></td></tr>
                </tbody>
            </table>-->


        </div>
    </div>

    <!-- DIVIDER -->

    <!--<h1> <a th:href="@{/user/createAdvert}">Post an Advert</a> </h1>
    <table>
        <tr>
            <td>Title</td>
            <td>Body</td>
            <td>Industry</td>
            <td>Salary</td>
            <td>Days Ago</td>
            <td>Status</td>
        </tr>
        <tr th:if="${advertArray.isEmpty()}">
            <td colspan="2">No Adverts Posted</td>
        </tr>
        <tr th:each="advert : ${advertArray}">
            <form th:action="@{/user/editAdvert}" method="post">
                <td><input type="text" name="title" th:value="${advert.getTitle()}"></td>
                <td><input type="text" name="body" th:value="${advert.getBody()}"></td>
                <td><input type="text" name="industry"
                           th:value="${!advert.getIndustry().isEmpty()} ? ${advert.getIndustry()} : 'No Industry'"></td>
                <td><input type="number" name="salary"
                           th:value="${advert.getSalary() != null} ? ${advert.getSalary()} : 'No Salary'"></td>
                <td><input type="text" name="daysPosted" readonly
                           th:value="${advert.getDaysPosted() != 0} ? ${advert.getDaysPosted()} : 'Today'"></td>
                <td th:switch="${advert.getStatus()}">
                    <div th:case="'Visible'">
                    <select  name="status">
                        <option value="Visible" selected>Visible</option>
                        <option value="Invisible">Invisible</option>
                    </select>
                    </div>
                    <div th:case="'Invisible'">
                    <select  name="status">
                        <option value="Visible">Visible</option>
                        <option value="Invisible" selected>Invisible</option>
                    </select>
                    </div>
                    <div th:case="'Draft'">
                    <select  name="status">
                        <option value="Visible">Post</option>
                        <option value="Draft" selected>Draft</option>
                    </select>
                    </div>
                    <div th:case="'Expired'">
                        <input type="text" name="status" readonly th:value="'Expired'">
                    </div>
                </td>
                <td><input type="hidden" name="id" th:value="${advert.getId()}"></td>
                <td><input type="hidden" name="userId" th:value="${advert.getUser().getId()}"></td>
                <div th:switch="${advert.getStatus()}">
                <div th:case="'Expired'">
                    <td><input type="submit" name="action" value="Delete"></td>
                </div>
                <div th:case="*">
                        <td><input type="submit" name="action" value="Update"></td>
                        <td><input type="submit" name="action" value="Delete"></td>
                </div>
                </div>
            </form>
        </tr>
    </table>-->

</body>
</html>