<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head></head>

<body>

    <div th:fragment="navbar">

        <link rel="stylesheet" type="text/css" th:href="@{/css/navigation.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/athtechLogo.css}"/>

        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" th:href="@{/}">
                        <div class="logo" style="text-shadow: -0.2vh 0.2vh 0.2vh black;">
                            <div class="ath">ATH</div><div class="slash">/</div>TECH
                        </div>
                    </a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/}">Home</a></li>

                        <li><a th:href="@{/contactUs}">Contact Us</a></li>

                        <!--<li>
                            <div class="input-group" style="padding: 8px">
                                <input type="text" id="search" placeholder="Search" class="form-control">
                            </div>
                        </li>-->

                        <li class="divider3">&nbsp;</li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right" th:switch="${role}">
                        <li th:case="'user'" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <div th:text="${companyName}" class="inBlock"></div>
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a th:href="@{/user/myAdverts}">My Adverts</a></li>
                                <li class="divider2">&nbsp;</li>
                                <li><a th:href="@{/user/passwordChange}">Change Password</a></li>
                                <li><a onclick="log_out()" href="#">Logout</a></li>
                            </ul>

                        </li>

                        <li th:case="'admin'" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <div th:text="Admin" class="inBlock"></div>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/user/myAdverts}">My Adverts</a></li>
                                <div class="padDivider"><li class="divider2">&nbsp;</li></div>
                                <li><a th:href="@{/admin}">Create User</a></li>
                                <li><a onclick="log_out()" href="#">Logout</a></li>
                            </ul>

                        </li>

                        <li th:case='*'>
                            <a th:href="@{/login}">Login</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

        <form th:action="@{/logout}" method="post">
            <button hidden type="submit" id="logout" value="Logout"></button>
        </form>

    </div>

</body>

</html>