<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head></head>
<body>
    <div th:fragment="navbar">
        <style>
            .inBlock {
                display: inline-block;
            }
        </style>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}">DreamJob</a>
                </div>
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/}">Home</a></li>

                        <li><a th:href="@{/contactUs}">Contact Us</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" th:switch="${role}">
                        <li th:case="'user'" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <div th:text="${companyName}" class="inBlock"></div>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/user/myAdverts}">My Adverts</a></li>
                                <li><a th:href="'javascript: document.logoutForm.submit()'">Logout</a>
                                    <form name="logoutForm" th:action="@{/logout}" method="post">
                                        <input hidden type="submit" value="Logout"/>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li th:case="'admin'" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <div th:text="Admin" class="inBlock"></div>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/admin}">Create User</a></li>
                                <li><a th:href="@{/user/myAdverts}">My Adverts</a></li>
                                <li><a th:href="'javascript: document.logoutForm.submit()'">Logout</a>
                                    <form name="logoutForm" th:action="@{/logout}" method="post">
                                        <input hidden type="submit" value="Logout"/>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li th:case='*'>
                            <a th:href="@{/login}">Login</a>
                        </li>
                    </ul>
            </div>
        </nav>
    </div>
</body>
</html>