<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>

    <title>Password Change</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- CUSTOM CONFIRM BUTTONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/panelBorder.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/grayFields.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainPage.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/searchDisabler.css}"/>

    <script type="text/javascript" th:src="@{/js/popups.js}"></script>
</head>

<body>

    <div th:insert="navigation :: navbar"></div>

    <h1>Change Password</h1>

    <div class="container" style="width: 300px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <form th:action="@{/user/passwordChanging}" method="post">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="md-form form-group">
                                <label for="currentPassword">Current Password</label>
                                <input type="password" name="currentPassword" id="currentPassword" class="form-control"
                                       th:value="${currentPassword} ? ${currentPassword}"/>

                                <div class="errMsg" th:if="${passwordError}">Password must match with current password</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="md-form form-group">
                                <label for="newPassword">New Password</label>
                                <input type="password" name="newPassword" id="newPassword" class="form-control"
                                       th:value="${newPassword} ? ${newPassword}">

                                <div class="errMsg" th:if="${emptyNewPasswordError}">Password must not be empty</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="md-form form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                                       th:value="${confirmPassword} ? ${confirmPassword}">

                                <div class="errMsg" th:if="${confirmPasswordError}">Password must match with new password</div>

                            </div>
                        </div>
                    </div>

                    <div class="btnPad">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>

                    <div class="btnPad">
                        <button type="button" class="btn btn-default"
                                th:onclick="'window.location.href=\'' + @{/} + '\''">Back</button>
                    </div>

                    <!--<div class="btnPad">
                        <button type="button" class="btn btn-default"
                                th:onclick="'window.history.back(-1);return false;'">Back</button>
                    </div>-->
                </form>
            </div>
        </div>
    </div>

</body>
</html>