<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post an Advert</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/panelBorder.css}"/>

</head>
<body>

<div th:replace="/navigation :: navbar"></div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form th:action="@{/user/advertAdding}" method="post">

                <div class="form-row">
                    <div class="col-md-12">
                        <div class="md-form form-group">
                            <label for="title">Job Title</label>
                            <input type="text" name="title" id="title" class="form-control"
                                   th:value="${title}">

                            <div class="errMsg" th:if="${titleError}">Field must not be empty</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12">
                        <div class="md-form form-group">
                            <label for="body">Job Description</label>
                            <textarea class="form-control" name="body" id="body" rows="5"
                                      style="resize: none" th:text="${body}">
                            </textarea>

                            <div class="errMsg" th:if="${bodyError}">Field must not be empty</div>
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="col-md-6">
                        <div class="md-form form-group">
                            <label for="industry">Industry</label>
                            <input class="form-control" type="text" name="industry" id="industry" th:value="${industry}">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="md-form form-group">
                            <label for="salary">Salary</label>
                            <input class="form-control" type="number" name="salary" id="salary" th:value="${salary}">

                            <div th:if="${salaryError}">Salary must be a number.</div>
                        </div>
                    </div>
                </div>

                <div class="btnPad">
                    <button type="submit" name="action" class="btn btn-default" value="Post">Post</button>
                </div>

                <div class="btnPad">
                    <button type="submit" name="action" class="btn btn-default" value="Save">Save</button>
                </div>

                <div class="btnPad">
                    <button type="button" class="btn btn-default"
                            th:onclick="'window.location.href=\'' + @{/} + '\''">Cancel</button>
                </div>

            </form>
        </div>
    </div>
</div>


</body>
</html>