<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Advert</title>
</head>
<body>
<h1> <a th:href="@{/}">Home</a> </h1>
<table>
    <tr>
        <td>Title</td>
        <td>Body</td>
        <td>Industry</td>
        <td>Salary</td>
        <td>Time Posted</td>
    </tr>
    <tr>
        <td><span th:text="${advert.getTitle()}"></span></td>
        <td><span th:text="${advert.getBody()}"></span></td>
        <td><span th:text="${advert.getIndustry()}"></span></td>
        <td><span th:text="${advert.getSalary()}"></span></td>
        <td><span th:text="${advert.getTimePosted()}"></span></td>
    <tr>
        <form th:action="@{/}" method="get">
            <input type="text" name="id" hidden th:value="${advert.getId()}">
            <td><input type="submit" name="action" value="Apply for Job"></td>
        </form>
    </tr>
</table>
</body>
</html>