<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Advert</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="/navigation :: navbar"></div>

<table>
    <tr>
        <td>Title</td>
        <td>Body</td>
        <td>Industry</td>
        <td>Salary</td>
        <td>Time Posted</td>
    </tr>
    <tr>
        <td><span th:text="${advert.getTitle()}"></span></td>
        <td><span th:text="${advert.getBody()}"></span></td>
        <td><span th:text="${advert.getIndustry()}"></span></td>
        <td><span th:text="${advert.getSalary()}"></span></td>
        <td><span th:text="${advert.getTimePosted()}"></span></td>
    <tr>
        <form th:action="@{'/view/' + ${advert.getId()} + '/apply'}" method="post">
            <input type="text" name="id" hidden th:value="${advert.getId()}">
            <td><input type="submit" name="action" value="Apply for Job"></td>
        </form>
    </tr>
</table>

    <div th:each="advert : ${advertArray}">

    <div class="container" th:inline="text">
        <div class="panel panel-default">
            <div class="panel-body">
                <form>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-group">
                                <label for="title">Job Title</label>
                                <p id="title">[[${advert.getTitle()}]]</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="md-form form-group">
                                <label for="status">Status</label>
                                <p id="status">[[${advert.getStatus()}]]</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="md-form form-group">
                                <label for="body">Job Description</label>
                                <p id="body">[[${advert.getBody()}]]</p>
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-group">
                                <label for="industry">Industry</label>
                                <p id="industry">[[${advert.getIndustry()}]]</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="md-form form-group">
                                <label for="salary">Salary</label>
                                <p id="salary">[[${advert.getSalary()}]]</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>

</body>
</html>